body{
	font-family: Arial;
}
.container{
	background-color: black;
	height: 60px;
	width: 100%;
}
.header-logo-image{
	position: relative;
	left: 40px;
}
.fa-search{
position: relative;
left: 800px;
top: 15px;
font-size: 20px;
color: white;
}
.fa-shopping-cart{
position: relative;
left: 850px;
top: 15px;
font-size: 20px;
color: white;
}
.fa-align-justify{
position: relative;
left: 900px;
top: 15px;
font-size: 20px;
color: white;

}
.fa-chevron-up{
	font-size: 12px;
	position: relative;
	left: 5px;
	top: -2px;
}
#lo{
position: relative;
	left: 100px;
	top: 10px;
	color: #a1a1a1;
	font-size: 18px;
	text-decoration: none;
}
#lo:hover{
	text-decoration: none;
}
#la{
position: relative;
	left: 150px;
	top: 10px;
	color: white;
	font-size: 18px;
}
#la:hover{
	text-decoration: none;
}
#li{
	position: relative;
	left: 200px;
	top: 10px;
	color: white;
	font-size: 18px;
}
#li:hover{
	text-decoration: none;
}
#yi{
	color: black;
	position: relative;
	top: 60px;
	left: 140px;
	font-weight: bold;
}
#yi{
	text-decoration: none;
	color: black;
}
#yi1{
	color: black;
	position: relative;
	top: 60px;
	left: 137px;
	font-weight: bold;
}
#yi1:hover{
text-decoration: none;
	color: black;
}
#yi2{
	color: black;
	position: relative;
	top: 60px;
	left: 100px;
	font-weight: bold;
}
#yi2:hover{
text-decoration: none;
	color: black;
}
#yi3{
	color: black;
	position: relative;
	top: 60px;
	left: 50px;
	font-weight: bold;
}
#yi3:hover{
text-decoration: none;
	color: black;
}
#yi4{
	color: black;
	position: relative;
	top: 60px;
	left: -0px;
	font-weight: bold;
}
#yi4:hover{
text-decoration: none;
	color: black;
}
#yi5{
	color: black;
	position: relative;
	top: 60px;
	left: -40px;
	font-weight: bold;
}
#yi5:hover{
text-decoration: none;
	color: black;
}
#yi6{
	color: black;
	position: relative;
	top: 60px;
	left: -65px;
	font-weight: bold;
}
#yi6:hover{
text-decoration: none;
	color: black;
}
.fo{
	position: relative;
	left: 60px;
}

.fo1{
	position: relative;
	left: 80px;
}
.fo2{
	position: relative;
	left: 170px;
}
.fo3{
	position: relative;
	left: 210px;
}
.fo4{
	position: relative;
	left: 210px;
}

.fo5{
	position: relative;
	left: 210px;
}
#text{
	background-color: #eee;
	height: 110px;
}
h1{
	text-align:center;
	font-size: 55px;
	margin-top: 100px;
	font-weight: bold;
	color: black;
}
#span{
	font-size: 30px;
	position: relative;
    color: black;
    font-weight: bold;
    top: -25px;	
}
.congr{
	position: relative;
	left: 50px;
	top: 60px;
}
#def2{
	text-align:left;
	position: relative;
	left: 220px;
	top: 50px;
	font-weight: bold;
	font-size: 40px;
	color: black;
}
#klo2{
	font-family: Georgia;
	text-align:left;
	position: relative;
	left: 220px;
	top: 60px;
	font-size: 17px;
}
#fa-chevro{
	position: relative;
	left: 177px;
	top: -33px;
}


#miror2{
      color: black;
      font-weight: bold;
      position: relative;
      top: 100px;
      left: 220px;
      text-align:left;

}
#miror2:hover{
	text-decoration: none;
	color: #a1a1a1;
}
#fa-chevron{
	position: relative;
	left: 140px;
	top: -30px;
	font-size: 14px;
}
#swal{
position: relative;
top: 100px;
left: 206px;
color: black;
font-size: 16px;
font-family: Georgia;
}
#swal:hover{
	color: black;
	text-decoration: none;
}
#def4{
	position: relative;
	top: 250px;
	left: 210px;
	text-align:left;
	font-size: 40px;
	font-weight: bold;
	color: black;
}
#klo4{
	position: relative;
	top: 270px;
	text-align: left;
	left: 215px;
	font-family: Georgia;
	font-size: 17px;
}
#chevro{
	position: relative;
	left: 270px;
	top: -30px;
}
#miror4{
       color: black;
       position: relative;
       top: 310px;
       left: 215px;
       font-size: 15px;
       font-weight: bold;
}
#miror4:hover{
	text-decoration: none;
	color: #a1a1a1;
}

.congr1{
	position: relative;
	top: 100px;
	left: -120px;
}
#swal1{
position: relative;
top: 320px;
left: 200px;
font-size: 16px;
font-family: Georgia;
color: black;

}
#swal1:hover{
	text-decoration:none;
}
#mil{
	position: relative;
	left: 15px;
}
#chevron{
	position: relative;
	left: 200px;
	top: -30px;
}
#miror5{
	position: relative;
	top: 150px;
	left: 200px;
	color: black;

}
#miror5:hover{
     color: #a1a1a1;
     text-decoration: none;
}
#klo5{
	position: relative;
	top: 120px;
	left: 200px;
	font-size: 17px;
	font-family: Georgia;
}
#def5{
	position: relative;top: 100px;
	left: 200px;
	font-size: 40px;
	color: black;
	font-weight: bold;
}
.congr3{
	position: relative;
	top: 120px;
	left: 50px;
}
.wrapper-grey{
	height: 400px;
	width: 100%;
	background-color: #eee;
}
#h1{
   position: relative;
   top: 100px;
   left: -30px;
   color: black;
   font-size: 55px;
   font-weight: bold;
}
#h4{
	position: relative;
	top: 100px;
	left: 370px;
	color: #a1a1a1;
	font-size: 23px;
	font-weight: bold;

}
.btn-prymary{
	position: relative;
	top: 130px;
	left: 570px;
	width: 150px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 0px;

}
.btn-prymary:hover{
	color: black;
	background-color: #eee;
	border-style: solid;
	border-color: black;
}
.congr5{
	position: relative;
	/*top: 270px;*/
	left: 150px;
}
#miror6{
	position: relative;
	top: -115px;
	left: 350px;
	color: black;
	font-weight: bold;
}
#miror6:hover{
	color: #a1a1a1;
	text-decoration:none;
}
#miror7{
	position: relative;
	top: -83px;
	left: 180px;
	color: black;
	font-size: 16px;
	font-weight: bold;
}
#miror7:hover{
	color: black;
	text-decoration:none;
}
#miror8{
	position: relative;
	top: -50px;
	left: 30px;
	font-weight: bold;
	color: black;
	font-size: 17px;
}
#klo7{
	position: relative;
	top: -70px;
	left: 30px;
	font-family: Georgia;
	font-size: 17px;
}
#klo6{
	position: relative;
	top: -100px;
    left: 27px;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
#def6{
	position: relative;
	left: -300px;
	font-size: 65px;
	top: -300px;
}
.lone{
	margin-top: 200px;
}
.wrapper1{
	margin-top: 300px;
}
.wrapper2{
	height: 300px;
	width: 100%;
	background-color: #eee;
	margin-top: 150px;
	text-align:center;
}
.rowl{
	position: relative;
	left: 550px;
	top: -130px;
}
.wrapper2 h2{
font-weight: bold;
color: black;
font-size: 40px;
position: relative;
top: 70px;

}
.wrapper p{
	font-size: 22px;
	position: relative;
	top: 70px;
	color: black;
	font-family: Georgia;
}
.var{
	position: relative;
	top:-50px;
	left: -240px;
	color: black;
	font-weight: bold;
	background-color: #eee;
	border-style: solid;
	border-color: black;
	width: 230px;
	height: 60px;
}
.var:hover{
	color: white;
	background-color: black;
}
.wrapper-black{
	height: 370px;
	width: 100%;
	background-color: black;
}
#ji{
	position: relative;
	left: 600px;
	top: 60px;
	text-align:left;

}
#ji1{
	position: relative;
	left: 500px;
	top: 60px;
	text-align:left;
	
}
#ji2{
	position: relative;
	left: 400px;
	top: 60px;
	text-align:left;
}
#ji3{
	position: relative;
	left: 300px;
	top: 60px;
	text-align:left;
	

}
.rap{
	position: relative;
	left: 110px;
	top: 110px;
}
#liam{
color: white;
font-size: 22px;
}
#liam10{
	color: #61b4e4;
	text-decoration: underline;
	font-size: 22px;
}
#liam10:hover{
	color: #61b4e4;
	text-decoration: underline;
}
#liam:hover{
	color: #a1a1a1;
	text-decoration: none;
}
#liam1{
color: white;
font-size: 16px;

}
#liam1:hover{
	color: #a1a1a1;
	text-decoration: none;
}
.fa-facebook{
position: relative;
	left: 1050px;
	top: 100px;
	font-size: 20px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	width: 40px;
	height: 35px;
	text-align:center;
	color: white;
}
.fa-facebook:hover{
	background-color: white;
	color: black;
}
.fa-instagram{
position: relative;
	left: 1060px;
	top: 100px;
	font-size: 20px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	width: 40px;
	height: 35px;
	text-align:center;
	color: white;
}
.fa-instagram:hover{
	color: black;
	background-color: white;
}
.fa-twitter{
	position: relative;
	left: 1070px;
	top: 100px;
	font-size: 20px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	width: 40px;
	height: 35px;
	text-align:center;
	color: white;
}
.fa-twitter:hover{
	color: black;
	background-color: white;
}
.fa-medium{
	position: relative;
	left: 1080px;
	top: 100px;
	font-size: 20px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	width: 40px;
	height: 35px;
	text-align:center;
	color: white;
}
.fa-medium:hover{
	color: black;
	background-color: white;
}
#plo{
   color: #a1a1a1;
   position: relative;
   left: 100px;
   top: 170px;
   font-size: 16px;
}
#plo:hover{
	text-decoration: none;
	color: white;
}
#plo1{
   color: #a1a1a1;
   position: relative;
   left: 200px;
   top: 170px;
   font-size: 16px;
}
#plo1:hover{
	text-decoration: none;
	color: white;
}
#plo2{
   color: #a1a1a1;
   position: relative;
   left: 300px;
   top: 170px;
   font-size: 16px;
}
#plo2:hover{
	text-decoration: none;
	color: white;
}
#plo3{
   color: #a1a1a1;
   position: relative;
   left: 400px;
   top: 170px;
   font-size: 16px;
}
#plo3:hover{
	text-decoration: none;
	color: white;
}
#plo4{
   color: white;
   position: relative;
   left: 600px;
   top: 170px;
   font-size: 17px;
}
#plo4:hover{
	text-decoration: none;
	color: white;
}
.fa-chevron-down{
	font-size: 12px;
	position: relative;
	left: 70px;
	color: #a1a1a1;
	 }